:root {
  --main-bg-color: lightcoral;
}

body {
  background-color: var(--main-bg-color);
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#quote-box {
  position: absolute;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px 50px;
  background-color: #fff;
  color: var(--main-bg-color);
}

#quote-box .quote-text {
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
}

#quote-box .quote-author {
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

#quote-box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: var(--main-bg-color);
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  cursor: pointer;
}

#quote-box .buttons #tweet-quote {
  float: left;
  padding: 8px 0 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}

#new-quote {
  float: right;
}